body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:#5835a8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(89, 142, 240, 0.1);
}
h1 {
  color: #5835a8;
  font-style: italic;
  font-size: 40px;
  text-shadow: 0 3px 5px #8c7fa8;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.anim {
  max-width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
  margin: 8px 0;
  width: 350px;
}
.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}


button {
  background-color: #5835a8;
  color: #ffffff;
  font-weight: 550;
  padding: 10px;
  border: none;
  border-radius: 15px;
  width: 150px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
  background-color: #7763b6;
  transition: ease-in-out 0.2s;
  transform: translateY(10%);
}
.input::placeholder{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:18px;
}
h2{
  color: white;
font-size: 30px;
}

@media (max-width: 768px) {
  .grid {
      grid-template-columns: 1fr;
      width: 90%;
  }
}
